IMPORTAÃ‡OES

In [1]:
import pandas as pd
from sqlalchemy import create_engine

CONECTANDO BANCO SQL

In [2]:
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/meliuz_case_study')

TRATANDO ARQUIVO DE CLIENTES

In [3]:
clientes_df = pd.read_csv('olist_customers_dataset.csv')
clientes_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [4]:
clientes_df = clientes_df.rename(columns={'customer_id':'customerid', 'customer_unique_id':'customer_uniqueid'})

In [5]:
clientes_df = clientes_df.drop('customer_zip_code_prefix', axis=1)

In [6]:
clientes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerid         99441 non-null  object
 1   customer_uniqueid  99441 non-null  object
 2   customer_city      99441 non-null  object
 3   customer_state     99441 non-null  object
dtypes: object(4)
memory usage: 3.0+ MB

TRATAMENTO ARQUIVO DE PEDIDOS

In [7]:
pedidos_df = pd.read_csv('olist_orders_dataset.csv')
pedidos_df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [8]:
pedidos_df = pedidos_df.drop(['order_delivered_customer_date','order_estimated_delivery_date','order_delivered_carrier_date','order_approved_at'], axis=1)

In [9]:
pedidos_df = pedidos_df.rename(columns={'order_id':'orderid', 'customer_id':'customerid'})

In [10]:
pedidos_df['order_purchase_timestamp'] = pd.to_datetime(pedidos_df['order_purchase_timestamp'])

In [11]:
pedidos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   orderid                   99441 non-null  object
 1   customerid                99441 non-null  object
 2   order_status              99441 non-null  object
 3   order_purchase_timestamp  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 3.0+ MB

TRATAMENTO ARQUIVO DE PAGAMENTOS

In [12]:
pagamento_df = pd.read_csv('olist_order_payments_dataset.csv')
pagamento_df.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [13]:
pagamento_df = pagamento_df.drop('payment_sequential', axis=1)

In [14]:
pagamento_df = pagamento_df.rename(columns={'order_id':'orderid'})

In [15]:
pagamento_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 4 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   orderid               103886 non-null  object
 1   payment_type          103886 non-null  object
 2   payment_installments  103886 non-null  int64
 3   payment_value         103886 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.2+ MB

CARREGANDO PARA BANCO DE DADOS

In [23]:
clientes_df.to_sql('cliente', con=engine, if_exists='append', index=False)
pedidos_df.to_sql('pedido', con=engine, if_exists='append', index=False)
pagamento_df.to_sql('pagamento', con=engine, if_exists='append', index=False)

103886